<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.machine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pingpong.app.machine.RandomScreen"></activity>
        <activity android:name="pingpong.app.machine.StatisticsScreen" />
        <activity android:name="pingpong.app.machine.SetupScreen" />
        <activity android:name="pingpong.app.machine.MainScreen" />
        <activity android:name="pingpong.app.machine.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>